body {
    font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
    line-height: 1.7;
}

.main-content {
    margin-left: 20%;
    min-height: 100vh;
    /* ビューポートの高さに合わせる */
}

.dashboard-container {
    margin: auto;
    width: 100%;
    padding: 40px;
}

.company-name {
    font-size:24px;
    font-weight: bold;
}

.dashboard-box {
    padding-top: 20px;
}

.dashboard-title {
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 4px solid #005da8;
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

.dashboard-content {
    border: 1px solid black;
    padding: 30px 10px;
    margin-top: 10px;
}

.info-header .info-title {
    font-size: medium;
}

.dashboard-box h3 {
    font-size: medium;
}


/* インフォメーションアイテムスタイル */
.information-item {
    border: 1px solid #ccc;
    padding: 50px;
}

/* インフォメーションヘッダー */
.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 左右に要素を分ける */
    gap: 10px;
    margin-bottom: 10px;
}

.info-title {
    margin: 0;
    /* タイトルの余白を取り除く */
}

.registration-button {
    padding: 10px 20px;
    background-color: #005da8;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
}

.search-container {
    display: flex;
    align-items: center;
}


/* 編集削除するボタンのスタイル */
.info-button {
    margin: 50px;
    margin-bottom: 0px;
    /* 右寄せ */
}

.info-button a {
    color: #fff;
    text-decoration: none;
}

.company-name-text {
    font-size: small;
}

.email {
    font-size: small;
}

.link-button {
    padding: 5px 15px;
    margin-left: 3px;
    background-color: #005da8;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-style: none;
    /* 右寄せ */
}

.non-decoration {
    text-decoration: none;
    color: #fff;
}

.email-link {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    text-decoration: none;
}

.email-link a {
    color: #000;
    /* text-decoration: none; */
}

.company-info {
    margin-bottom: 40px;
    background-color: #eee;
    padding: 20px;
}

.box-info ul {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.box-info {
    width: 80%;
    margin: 0 auto;
}

.inquiry_content ul li {
    list-style: none;
}

.form-group {
    display: flex;
    align-items: start;
    padding: 30px 0;
    border-bottom: 1px dotted #ccc;
}

.form-label {
    width: 180px;
}


.box-info ul li {
    list-style: none;
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
    display: flex;
    font-size: 16px;
}

.box-info ul li ul li {
    padding: 0;
    border: none;
    display: block;
}

.inquiry_content ul li {
    list-style: none;
    padding: 0px;

}

input[type="text"] {
    width: 360px;
    padding: 10px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

textarea {
    width: 360px;
    height: 120px;
    padding: 10px;
    font-size: 16px;
}

.label {
    display: inline-block;
    width: 30%;
    /* 必要に応じて調整 */
    text-align: left;
}

.catch {
    display: inline-block;
    width: 70%;
}

.image {
    width: 100%;
    display: flex;
}

.fit-picture {
    width: 60%;
    max-height: 300px;
    object-fit: contain;
}

.inquiry_content {
    display: flex;
    width: 100%;
}

.inquiry_content ul {
    margin-left: 0;
    width: 70%;
}

.form-attention {
    color: rgb(0, 0, 0);
    font-size: small;
}


#upload-btn {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #005da8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

select {
    padding: 5px;
}