body {
    font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
    line-height: 1.7;
}

* {
    box-sizing: border-box;
}

#member-nav {
    background: #215da8;
    width: 20%;
    height: 100vh;
    position: fixed;
    padding: 0;
    color: #fff;
}


#member-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#member-nav ul li {
    border-bottom: 1px solid #d2eff7;
}

#member-nav ul li a {
    padding-left: 20px;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    position: relative;
}

#member-nav ul li a:after {
    position: absolute;
    content: '';
    right: 20px;
    width: 10px;
    height:10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    top: 50%;
    margin-top: -5px;
}

#member-nav ul li:last-child a:after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../logout.png);
    background-size:cover;
    border: none;
    transform: rotate(0deg);
    right: 15px;
    margin-top: -10px;
}

#member-nav ul li a:hover,
#member-nav ul li a.active {
    background: #3573c1;
}

.menu-title {
    margin: 0;
    font-size: large;
    padding: 20px;
    background: #000;
    font-weight: bold;

}

.nav-company-name {
    overflow: hidden;
    position: fixed;
    text-overflow: clip;
    width: 20%;
    bottom: 20px;
    left: 2%;
    right: 82%;
    width: fit-content;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

