<!-- 防水工事管理 -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- ヘッダーとフッターのCSSファイルを読み込む -->
    <link rel="stylesheet" href="../../css/member/member_common.css">
    <link rel="stylesheet" href="../../css/common/common.css">
    <link rel="stylesheet" href="../../css/common/pagination.css">
    <link rel="stylesheet" href="../../css/member/common_management.css">



    <!-- jQueryの読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="header-container">
        <header>
            <nav id="member-nav">
                <div class="menu-title">
                    会員用メニュー
                </div>
                <ul>
                    <li><a href="member_dashboard.html">●TOP</a></li>
                    <li><a href="member_company_info_data.html">●企業情報管理</a></li>
                    <li><a href="member_waterproofing_management_data.html">●防水工事管理</a></li>
                    <li><a href="member_job_postings_nodata.html">●求人情報管理</a></li>
                </ul>
                <div class="nav-company-name">
                    株式会社〇〇〇〇〇〇〇〇〇〇〇〇
                </div>
            </nav>
        </header>
    </div>
    <div class="main-content">
        <div class="dashboard-container">
            <div class="information-section">
                <div class="info-header">
                    <h1 class="dashboard-title">求人情報管理</h1>
                </div>
                <div class="company-info">
                    <div class="company-name">株式会社〇〇〇〇〇〇〇〇〇〇〇〇</div>
                    <span class="info-update ">企業名カナ：〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</span>
                    <span class="info-update ">登録メールアドレス：〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</span>
                </div>
                <div class="information-item">
                    <div class="information-content">
                        <div class="box-info">
                            <div class="form-group">
                                <label class="form-label">求人募集内容:</label>
                                <div class="checkbox">
                                    <input type="checkbox" name="services[]" value="現場作業員" required> 現場作業員<br>
                                    <input type="checkbox" name="services[]" value="現場調査診断士" required> 現場調査診断士<br>
                                    <input type="checkbox" name="services[]" value="現場管理監督員" required> 現場管理監督員<br>
                                    <input type="checkbox" name="services[]" value="現場・営業サポート" required>
                                    現場・営業サポート（現場事務、精算等）<br>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-label">
                                    <label>求人用キャッチ:</label>
                                    <div class="form-attention">
                                        ※文字数〇〇まで
                                    </div>

                                </div>
                                <textarea name="catchphrase" rows="4" cols="50" maxlength="〇〇"
                                    required>〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</textarea>
                            </div>

                            <div class="form-group">
                                <div class="form-label">
                                    <label>求人用画像:</label>
                                    <div class="form-attention">
                                        ※推奨サイズ〇〇
                                    </div>

                                </div>
                                <div class="file-upload">
                                    <button type="button" id="upload-btn">ファイルを選択</button>
                                    <input type="file" id="file-upload" style="display: none;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="prefecture">都道府県名:</label>
                                <select name="prefecture" id="prefecture" required>
                                    <option value="">都道府県を選択してください</option>
                                    <option value="北海道">北海道</option>
                                    <option value="青森県">青森県</option>
                                    <option value="岩手県">岩手県</option>
                                    <option value="宮城県">宮城県</option>
                                    <option value="秋田県">秋田県</option>
                                    <option value="山形県">山形県</option>
                                    <option value="福島県">福島県</option>
                                    <option value="茨城県">茨城県</option>
                                    <option value="栃木県">栃木県</option>
                                    <option value="群馬県">群馬県</option>
                                    <option value="埼玉県">埼玉県</option>
                                    <option value="千葉県">千葉県</option>
                                    <option value="東京都">東京都</option>
                                    <option value="神奈川県">神奈川県</option>
                                    <option value="新潟県">新潟県</option>
                                    <option value="富山県">富山県</option>
                                    <option value="石川県">石川県</option>
                                    <option value="福井県">福井県</option>
                                    <option value="山梨県">山梨県</option>
                                    <option value="長野県">長野県</option>
                                    <option value="岐阜県">岐阜県</option>
                                    <option value="静岡県">静岡県</option>
                                    <option value="愛知県">愛知県</option>
                                    <option value="三重県">三重県</option>
                                    <option value="滋賀県">滋賀県</option>
                                    <option value="京都府">京都府</option>
                                    <option value="大阪府">大阪府</option>
                                    <option value="兵庫県">兵庫県</option>
                                    <option value="奈良県">奈良県</option>
                                    <option value="和歌山県">和歌山県</option>
                                    <option value="鳥取県">鳥取県</option>
                                    <option value="島根県">島根県</option>
                                    <option value="岡山県">岡山県</option>
                                    <option value="広島県">広島県</option>
                                    <option value="山口県">山口県</option>
                                    <option value="徳島県">徳島県</option>
                                    <option value="香川県">香川県</option>
                                    <option value="愛媛県">愛媛県</option>
                                    <option value="高知県">高知県</option>
                                    <option value="福岡県">福岡県</option>
                                    <option value="佐賀県">佐賀県</option>
                                    <option value="長崎県">長崎県</option>
                                    <option value="熊本県">熊本県</option>
                                    <option value="大分県">大分県</option>
                                    <option value="宮崎県">宮崎県</option>
                                    <option value="鹿児島県">鹿児島県</option>
                                    <option value="沖縄県">沖縄県</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label">郵便番号:</label>
                                <input type="text" name="zip_code" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">勤務地:</label>
                                <input type="text" name="work_location" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">勤務時間:</label>
                                <input type="text" name="work_hours" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">初年度月収例:</label>
                                <input type="text" name="salary_example">
                            </div>

                            <div class="form-group">
                                <label class="form-label">応募①電話:</label>
                                <input type="text" name="application_phone1">
                            </div>

                            <div class="form-group">
                                <label class="form-label">応募①フォーム:</label>
                                <input type="text" name="application_form1">
                            </div>

                            <div class="form-group">
                                <label class="form-label">応募②電話:</label>
                                <input type="text" name="application_phone2">
                            </div>

                            <div class="form-group">
                                <label class="form-label">応募②フォーム:</label>
                                <input type="text" name="application_form2">
                            </div>

                        </div>
                    </div>

                    <div class="info-button">
                        <button class="registration-button" onclick="validateForm()">更新する</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ヘッダーとフッターの動的読み込みに関するJavaScriptファイルを読み込む -->
    <script src="../../javascript/member/member_common.js"></script>
</body>

</html>