<header>
    <nav id="member-nav">
        <div class="menu-title">
            会員用メニュー
        </div>
        <ul>
            <li><a href="member_dashboard.html">TOP</a></li>
            <li><a href="member_company_info_data.html">企業情報管理</a></li>
            <li><a href="member_waterproofing_management_data.html">防水工事管理</a></li>
            <li><a href="member_job_postings_nodata.html">求人情報管理</a></li>
        </ul>
        <div class="nav-company-name">
            株式会社〇〇〇〇〇〇〇〇〇〇〇〇
        </div>
    </nav>
</header>