<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="../../css/registration/forgot_password.css">
</head>

<body>
    <div class="login-container">

        <div class="side-bar">
            <h2>エコ・フレックスお問い合わせ管理</h2>
        </div>
        <div class="login-form">
            <div class="form-content">
                <p>パスワードを再発行します。<br>
                    ご登録のメールアドレスへ新しいパスワードを<br>
                    通知いたしますのでご確認ください。
                </p>
                <button type="submit">パスワードを再発行する</button>
                <div class="attention">
                    ※メールがが届かない場合はXXX@ecoulex.co.jpのアドレスの受信許可をしていただくか事務局までお問い合わせください。
                </div>
            </div>
        </div>
</body>

</html>