.upload-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.file-label {
    background-color: #005da8;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.file-input {
    display: none;
}

.upload-button-black {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.upload-button-black:hover {
    background-color: #333;
}

.upload_contents{
    margin-bottom: 20px;
}

.dashboard-content__head{
    margin-bottom: 10px;
}

.file-input-wrapper label{
    font-size: 10px;
}