body {
    font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
    line-height: 1.7;
}

.main-content {
    background: #fff;
    margin-left: 20%;
    min-height: 100vh;
    /* ビューポートの高さに合わせる */
}

.dashboard-container {
    margin: auto;
    width: 100%;
    padding: 40px;
}



.info-update,
.info-mail  {
    font-size: small;
}

.dashboard-box {
    padding: 0;
}

.update-method {
    margin-top: 40px;
    color: #000;

}

.dashboard-title {
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 4px solid #005da8;
    display: block;
    margin-bottom: 40px;
}

.dashboard-content {
    margin: 10px 0 20px;
    padding: 30px;
    border: 1px solid #ccc;
}

.dashboard-content__head{
    margin-bottom: 10px;
}

.info-header .info-title {
    font-size: medium;
}

.dashboard-box h3 {
    font-size: medium;
}


/* インフォメーションアイテムスタイル */
.information-item {
    border: 1px solid black;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.information-item .infomartion_chkbox{
    margin-right: 10px;
}

.information-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-content .date{
    margin-right: 15px;
}

.information-section input[type="text"] {
    margin-left: 10px;
}

.button_group{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end; /* 要素を下揃えにする */
    margin-right: 10px;
}

/* インフォメーションヘッダー */
.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 左右に要素を分ける */
    gap: 10px;
    margin-bottom: 10px;
}

.info-title {
    margin: 0;
    /* タイトルの余白を取り除く */
}

.search-container {
    display: flex;
    align-items: center;
}

/* 検索ボタンのスタイル */
.search-button {
    padding: 5px 15px;
    margin-left: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dashboard__button-group{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.password-button,
.company__create-button{
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* 確認するボタンのスタイル */

.info-button__back{
    text-align: center;
}
.info-button {
    padding: 5px 18px;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    /* 右寄せ */
}

.info-button button {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.select_all{
    margin-top: 10px;
}


.message{
    text-align: center;
    color: red;
    font-weight: bold;
}

/* .information_txt{
    display: flex;
} */

.information_txt .jobPosting-name{
    margin-right: 10px;
}

.information_txt .strong{
   font-weight: bold;
}

.button__group{
    text-align: right;
}

.button__group .button__create{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.search-container{
    margin-right: 10px;
}

.search-container input{
    width: 200px;
}


.dashboard__bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}

.search_group{
    display: flex;
    justify-content: space-between;
}

.jobPosting_txt,
.waterProofing_txt{
    display: flex;
}

.jobPosting-name,
.waterproof-name
{
    margin-right: 10px;
}
