body {
    font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
    line-height: 1.7;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
}

.login-container {
    width: 600px;
    flex-direction: row;
    transform: translate(0, 0%);
    background: #fff;
    border-radius: 10px;
}

.side-bar {
   flex: 2;
   border: none;
   background: #fff;
   text-align: center;
   padding: 20px 0 0 0;
   border-radius: 10px;
}

.form-content {
    width: 90%;
    margin: auto;
}

.form-content input {
    padding:10px;
    font-size: 16px;
    width: 80%;
    margin: 0 auto 30px;
    box-sizing: border-box;
}

.attention {
    background-color: #EEEEEE;
    text-align: center;
    font-size: small;
    padding: 15px;
    
}


.login-form {
    flex: 8;
    border: solid 1px black;
    border: none;
    text-align: center;
    padding: 20px 0 60px 0;
}

.login-form h2,
.login-form form,
.forgot-password {
}


button {
    width: auto;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #005da8;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 30px;
}

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    font-size: 12px;
    color: red;
}

ol, ul {
    padding: 0;
	list-style: none;
}