<!-- 管理画面トップ -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- ヘッダーとフッターのCSSファイルを読み込む -->
    <link rel="stylesheet" href="../../css/admin/admin_common.css">
    <link rel="stylesheet" href="../../css/common/common.css">
    <link rel="stylesheet" href="../../css/common/pagination.css">

    <link rel="stylesheet" href="../../css/admin/admin_information.css">



    <!-- jQueryの読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="header-container">
        <header>
            <nav id="admin-nav">
                <div class="menu-title">
                    事務局メニュー
                </div>
                <ul>
                    <li><a href="admin_dashboard.html">●TOP</a></li>
                    <li><a href="member_companies.html">●会員企業管理</a></li>
                    <li><a href="company_info_management.html">●企業情報管理</a></li>
                    <li><a href="waterproofing_management.html">●防水工事管理</a></li>
                    <li><a href="job_postings_management.html">●求人情報管理</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="main-content">
        <div class="dashboard-container">
            <h1 class="dashboard-title">インフォメーション</h1>

            <div class="information-section">
                <div class="info-header">
                    <h3 class="info-title">
                        TOP(インフォメーション)　＞　詳細
                    </h3>
                </div>
                <div class="information-box">
                    <div class="information-item">
                        <div class="information-content">
                            <span class="date">YYYY/MM/DD</span>
                            <span class="info-text">株式会社●●●●●●●●が以下の情報を更新しました。</span>
                        </div>
                        <div class="updated_page">更新対象ページ：
                            <ul>
                                <li>会員企業管理
                                </li>

                                <li>
                                    お問い合わせ管理
                                </li>
                                <li>
                                    求人情報管理
                                </li>
                            </ul>
                        </div>


                    </div>
                    <a href="admin_dashboard.html" class="info-button">
                        <button>一覧に戻る</button>
                    </a>

                </div>
            </div>
            <!-- ページネーション -->

        </div>
    </div>

    <!-- ヘッダーとフッターの動的読み込みに関するJavaScriptファイルを読み込む -->
    <script src="../../javascript/admin/admin_common.js"></script>
</body>

</html>