<!-- 会員担当メールアドレス一覧 -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- ヘッダーとフッターのCSSファイルを読み込む -->
    <link rel="stylesheet" href="../../css/admin/admin_common.css">
    <link rel="stylesheet" href="../../css/common/common.css">
    <link rel="stylesheet" href="../../css/common/pagination.css">

    <link rel="stylesheet" href="../../css/admin/member_email_list.css">



    <!-- jQueryの読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="header-container">
        <header>
            <nav id="admin-nav">
                <div class="menu-title">
                    事務局メニュー
                </div>
                <ul>
                    <li><a href="admin_dashboard.html">●TOP</a></li>
                    <li><a href="member_companies.html">●会員企業管理</a></li>
                    <li><a href="company_info_management.html">●企業情報管理</a></li>
                    <li><a href="waterproofing_management.html">●防水工事管理</a></li>
                    <li><a href="job_postings_management.html">●求人情報管理</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="main-content">
        <div class="dashboard-container">
            <div class="information-section">
                <h1 class="dashboard-title">会員企業管理</h1>

                <div class="info-header">
                    <h1 class="dashboard-subtitle">会員担当メールアドレス一覧</h1>
                    <div class="search-container">
                        <input type="text" placeholder="検索">
                        <button class="search-button">検索</button>

                    </div>
                </div>
                <div class="information-box">
                    <div class="information-item">
                        <div class="information-content">
                            <div class="company-name">メールアドレス〇〇〇〇〇〇@〇〇〇〇〇〇</div>
                            <span class="company-name-text">企業名：〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</span>
                        </div>
                        <div class="info-button">
                            <button class="delete-edit-button-design delete-button">削除</button>
                        </div>

                    </div>

                    <div class="information-item">
                        <div class="information-content">
                            <div class="company-name">メールアドレス〇〇〇〇〇〇@〇〇〇〇〇〇</div>
                            <span class="company-name-text">企業名：〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</span>
                        </div>
                        <div class="info-button">
                            <button class="delete-edit-button-design delete-button">削除</button>
                        </div>

                    </div>

                    <div class="information-item">
                        <div class="information-content">
                            <div class="company-name">メールアドレス〇〇〇〇〇〇@〇〇〇〇〇〇</div>
                            <span class="company-name-text">企業名：〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</span>
                        </div>
                        <div class="info-button">
                            <button class="delete-edit-button-design delete-button">削除</button>
                        </div>

                    </div>

                    <div class="information-item">
                        <div class="information-content">
                            <div class="company-name">メールアドレス〇〇〇〇〇〇@〇〇〇〇〇〇</div>
                            <span class="company-name-text">企業名：〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</span>
                        </div>
                        <div class="info-button">
                            <button class="delete-edit-button-design delete-button">削除</button>
                        </div>

                    </div>

                    <div class="information-item">
                        <div class="information-content">
                            <div class="company-name">メールアドレス〇〇〇〇〇〇@〇〇〇〇〇〇</div>
                            <span class="company-name-text">企業名：〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</span>
                        </div>
                        <div class="info-button">
                            <button class="delete-edit-button-design delete-button">削除</button>
                        </div>

                    </div>

                </div>
            </div>
            <!-- ページネーション -->

        </div>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </div>
    </div>

    <!-- ヘッダーとフッターの動的読み込みに関するJavaScriptファイルを読み込む -->
    <script src="../../javascript/admin/admin_common.js"></script>
</body>

</html>